@import "theme.css";

* {
	border: none;
	border-radius: 4px;
	font-family: "Inconsolata Semi Expanded Bold" ;
	font-size: 16px;
    color: @text;
}

window#waybar {
	background: none;
	color:@text;
}


#workspaces button {
	background: @color7;
	color: @color;
	padding: 0 10px;
	margin: 0 2px;
	border-radius: 20%;
}

#workspaces button.focused{
	background: @color3;
	color: @text;
}

#workspaces button.urgent {
	background:@color11;
}


#group-power {
	background: @color3;
	color: @color;
	padding: 0 4px;
	margin: 0 2px;
}

#tray {
	background: @color3;
	padding:0 10px;
}

#tray menu {
	background: @color7;
	color: @color;
}

#network, #pulseaudio{
	background: @color3;
	padding: 0 5px;
	margin: 0 1px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}

#battery, #backlight{
	background: @color3;
	padding: 0 5px;
	margin: 0 1px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

#clock {
	background: @color3;
	margin: 0 2px;
	padding: 0 5px;
}

#network.disconnected {
	background:@color1;
}

#battery.charging {
	background:@color7;
}

#battery.discharging {
	background:@color1;
}

#pulseaudio.muted {
	background: @color1;
}

